@font-face 
{
	font-family: DBfont;
	src: url(../fonts/VINERITC.TTF);
}

body {
	background-image: url("../backgrounds/another-rough-old-and-worn-parchment-paper.png");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 12pt;
}

h1 {
	font-family: DBfont, arial;
	text-align: center;
	font-size: 70pt;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: -10px;
}

h2 {
	font-family: DBfont, arial;
	font-size: 26pt;
	text-align: center;
	margin-top: 0px;
}

h3 {
	font-size: 20pt;
}

h4 {
	font-size: 16pt;
}

#top_bar {
	margin: auto;
	margin-top: 50px;
    width: 974px;
}

#main_block {
	margin: auto;
	margin-top: 5px;
	width: 972px;
	margin-bottom: 150px;
	overflow: auto;
}

.text_block {
	float: left;
	width: 962px;
	background-color: #202020;
	color: white;
	padding-left: 10px;
	padding-right: 0px;
}

#left {
	margin-right: 4px;
}

.button {
	width: 240px;
	height: 50px;
	background-color: #303030;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

.button:hover {
	background-color: #444444;
}

.button:active {
	background-color: #303030;
}

.row {
	display: flex;
}

.column {
    flex: 80%;
    padding: 10px;
}

@media screen and (max-width: 2559px) {
	body {
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		font-family: sans-serif;
	}
}


@media screen and (max-width: 1218px) {
	body {
		background-image: url(../backgrounds/another-rough-old-and-worn-parchment-paper.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
}

@media screen and (max-width: 671px) {
	#main_block {
		width: 80%;
	}

	.text_block {
		padding-left: 2%;
		padding-right: 2%;
		width: 96%;
		float: none;
		position: relative;
		margin-bottom: 1px;
	}

	#top_bar {
		width: 80%;
		overflow: auto;
	}

	.button {
		margin-bottom: 1px;
		width: 100%;
		display: inline;

	}

	#left {
		margin-right: 0px;
	}

}