@font-face {
	font-family: DBfont;
	src: url(../fonts/VINERITC.TTF);
}

body {
	background-image: url("../backgrounds/another-rough-old-and-worn-parchment-paper.png");
	background-repeat: no-repeat;
	background-size: 2560px, 1440px;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 12pt;
}

@media screen and (max-width: 1920px) {
	body {
		background-size: 1920px, 1080px;
		font-family: sans-serif;
	}
}

h1 {
	font-family: DBfont, arial;
	text-align: center;
	font-size: 70pt;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: -10px;
}

h2 {
	font-family: DBfont, arial;
	font-size: 26pt;
	text-align: center;
	margin-top: 0px;
}

h3 {
	font-size: 20pt;
}

h4 {
	font-size: 16pt;
}

#top_bar {
	margin: auto;
	margin-top: 50px;
    width: 974px;
    height: 50px;
}

#main_block {
	margin: auto;
	margin-top: 5px;
	width: 972px;
	height: 800px;
}

.text_block {
	float: left;
	width: 962px;
	background-color: #202020;
	color: white;
	padding-left: 10px;
	padding-right: 0px;
	margin-bottom: 150px;
}

.text_block hr {
	width: 900px;
}

#left {
	margin-right: 4px;
}

.button {
	width: 240px;
	height: 50px;
	background-color: #303030;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

.button:hover {
	background-color: #444444;
}

.button:active {
	background-color: #303030;
}

.row {
	display: flex;
}

.column {
    flex: 80%;
    padding: 10px;
}

.small_column {
	flex: 20%;
	background-color: #303030;
	padding-left: 10px;
	margin-top: 30px;
}

.add_button {
	float: right;
	margin: 20px 20px 0px 20px;
	height: 40px;
	font-size: 12pt;
	background-color: #404040;
	border: none;
	color: white;
	border-radius: 6px;
	width: 200px;
}